* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: auto;
    padding-bottom: 3em; 
}

#main-heading {
    background-color: #eaeaea;
    padding: 0.75em 3em;
    font-size: 2em;
    font-weight: 600;
    color: #343434;
}

#main-links {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 1em 0;
    padding: 0 3em;
}

#main-links li {
    margin: 0.50em 0.06em;
    list-style: none;
}

#main-links a {
    text-decoration: none;
    border-radius: 2px;
    background-color: #5767c6;
    color: whitesmoke;
    padding: 0.65em 1em;
    font-size: larger;
    transition: all 0.2s ease-in-out;
}

#main-links a:hover {
    background-color: #3255a2;
}

#main-section ,#media-section{
    width: 100%;
    height: auto;
    margin: 1em auto;
    margin-bottom: 5em;
}
#hierarchy,#media-hierarchy{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    border-bottom: 2px solid #3255a2;
}
.heading{
 
    background-color: #3255a2;
    color: #eaeaea;
    width: 30%;
    margin: auto;
    padding: 30px 10px;
    font-size: 1.5em;
    border-radius: 40px;
    transition: all 0.400s ease-in-out;
}
.heading:hover{
    background-color: #eaeaea;
    color: #3255a2;
}

#main-hierarchy ,#main-media-hierarchy{
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-hierarchy .person , #main-hierarchy-2 .person ,#main-media-hierarchy .person ,#media-hierarchy-2 .person{
    width:20%;
    height: 15%;
    background-color:#eaeaea;
    border-top-left-radius:10% ;
    border-top-right-radius: 10%;
    padding: 10px 0px;
    margin:1em 0.50em 0 0.50em ;

    
}
#main-hierarchy .person img, #main-hierarchy-2 .person img, #main-media-hierarchy .person img ,#media-hierarchy-2 .person img{
    width: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: all 0.300s ease-in-out;

}
#main-hierarchy .person img:hover ,#main-hierarchy-2.person img:hover,#main-media-hierarchy .person img:hover ,#media-hierarchy-2 .person img:hover{
    transform: scale(1.10);
}

#main-hierarchy .person h6 ,#main-hierarchy-2 .person h6 ,#main-media-hierarchy .person h6 ,#media-hierarchy-2 .person h6{
    background-color: #3255a2;
    color: #eaeaea;
    font-size:medium;
}



#main-hierarchy-2 ,#media-hierarchy-2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media only screen and (max-width: 904px) {

    .heading{
        width: 35%;

    }
    #main-hierarchy .person , #main-hierarchy-2 .person ,#main-media-hierarchy .person ,#media-hierarchy-2 .person{
        width:25%;
        
    }
    
    #main-hierarchy .person h6 ,#main-hierarchy-2 .person h6 ,#main-media-hierarchy .person h6 ,#media-hierarchy-2 .person h6{
        font-size:small;
    }

  }

@media only screen and (max-width: 742px) {
#main-section{
    width: 85%;
}
  #main-heading{
    font-size: 1.8em;
  }
  #main-links {
    justify-content: center;
  
}
#main-links a {
    font-size: 1em;
}
.heading{
    width: 50%;
    font-size: 1em;
    padding: 8px;
}
#main-hierarchy .person h6 ,#main-hierarchy-2 .person h6 ,#main-media-hierarchy .person h6 ,#media-hierarchy-2 .person h6{
    font-size:x-small;
}
#main-hierarchy .person h3 ,#main-hierarchy-2 .person h3 ,#main-media-hierarchy .person h3 ,#media-hierarchy-2 .person h3{
    font-size:small;
}

  }
@media only screen and (max-width: 570px) {
#main-section{
    width: 95%;
}
  #main-heading{
    font-size: 1.5em;
  }
p{
    font-size: smaller;
}
h1{
    font-size: large;
}
h2{
    font-size: medium;
}
#benifits{
    font-size: 1em;
}
.heading{
    width: 50%;
    font-size: 1em;
    padding: 8px;
}


  }
@media only screen and (max-width: 390px) {

.heading{
    width: 60%;
    font-size: 1em;
    padding: 8px;
}


  }

